* {
  margin: 0;
  padding: 0;
}

html {
  background: #fbdac4;
  height: 100%;
  overflow: hidden;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Gentium Basic', serif;
  color: #5D5D5D;
  font-style: italic;
}

h1 {
  font-weight: 400;
}

.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.willy {
  background: #fbd7bf;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  height: 450px;
  width: 150px;
  margin-left: -75px;
  box-shadow: 0 175px 300px 50px #fbb9c0;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
}
.willy:before, .willy:after {
  content: '';
  display: block;
  background: #deb2ad;
  position: absolute;
  left: 50px;
  top: 150px;
  width: 6px;
  height: 75px;
  border-radius: 3px;
}
.willy:after {
  left: 100px;
  top: 300px;
}
.erected .willy {
  bottom: 0;
}

.head {
  background: #fbc9c4;
  width: 100%;
  padding-top: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -50%;
  border-radius: 50%;
  box-shadow: 0 6px 0px 0 #deb2ad;
  overflow: hidden;
}
.head:after {
  content: '';
  display: block;
  background: #f7758d;
  width: 6px;
  height: 50%;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -3px;
  border-radius: 3px;
}
.head:before {
  content: '';
  display: block;
  background: #fbb9c0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 88%;
  height: 88%;
  margin-left: -44%;
  border-radius: 50%;
}

.drops {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.drop {
  background: #fff;
  width: 12px;
  position: absolute;
  left: 50%;
  margin-left: -6px;
  bottom: 550px;
  border-radius: 6px;
  height: 0;
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-transition: height 600ms linear;
  -moz-transition: height 600ms linear;
  -ms-transition: height 600ms linear;
  transition: height 600ms linear;
}

.came .drop--1,
.came .drop--9 {
  height: 80px;
}
.came .drop--1 {
  -webkit-transform: rotate(45deg) translate3d(60px, -20px, 0);
  -moz-transform: rotate(45deg) translate3d(60px, -20px, 0);
  -ms-transform: rotate(45deg) translate3d(60px, -20px, 0);
  transform: rotate(45deg) translate3d(60px, -20px, 0);
}
.came .drop--9 {
  -webkit-transform: rotate(-45deg) translate3d(-60px, -20px, 0);
  -moz-transform: rotate(-45deg) translate3d(-60px, -20px, 0);
  -ms-transform: rotate(-45deg) translate3d(-60px, -20px, 0);
  transform: rotate(-45deg) translate3d(-60px, -20px, 0);
}
.came .drop--2,
.came .drop--8 {
  height: 120px;
}
.came .drop--2 {
  -webkit-transform: rotate(35deg) translate3d(40px, 0, 0);
  -moz-transform: rotate(35deg) translate3d(40px, 0, 0);
  -ms-transform: rotate(35deg) translate3d(40px, 0, 0);
  transform: rotate(35deg) translate3d(40px, 0, 0);
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  transition-delay: 500ms;
}
.came .drop--8 {
  -webkit-transform: rotate(-35deg) translate3d(-40px, 0, 0);
  -moz-transform: rotate(-35deg) translate3d(-40px, 0, 0);
  -ms-transform: rotate(-35deg) translate3d(-40px, 0, 0);
  transform: rotate(-35deg) translate3d(-40px, 0, 0);
  -webkit-transition-delay: 700ms;
  -moz-transition-delay: 700ms;
  -ms-transition-delay: 700ms;
  transition-delay: 700ms;
}
.came .drop--3,
.came .drop--7 {
  height: 180px;
}
.came .drop--3 {
  -webkit-transform: rotate(20deg) translate3d(20px, 0, 0);
  -moz-transform: rotate(20deg) translate3d(20px, 0, 0);
  -ms-transform: rotate(20deg) translate3d(20px, 0, 0);
  transform: rotate(20deg) translate3d(20px, 0, 0);
  -webkit-transition-delay: 900ms;
  -moz-transition-delay: 900ms;
  -ms-transition-delay: 900ms;
  transition-delay: 900ms;
}
.came .drop--7 {
  -webkit-transform: rotate(-20deg) translate3d(-20px, 0, 0);
  -moz-transform: rotate(-20deg) translate3d(-20px, 0, 0);
  -ms-transform: rotate(-20deg) translate3d(-20px, 0, 0);
  transform: rotate(-20deg) translate3d(-20px, 0, 0);
  -webkit-transition-delay: 1100ms;
  -moz-transition-delay: 1100ms;
  -ms-transition-delay: 1100ms;
  transition-delay: 1100ms;
}
.came .drop--4,
.came .drop--6 {
  height: 100px;
}
.came .drop--4 {
  -webkit-transform: rotate(40deg) translate3d(50px, -80px, 0);
  -moz-transform: rotate(40deg) translate3d(50px, -80px, 0);
  -ms-transform: rotate(40deg) translate3d(50px, -80px, 0);
  transform: rotate(40deg) translate3d(50px, -80px, 0);
  -webkit-transition-delay: 1300ms;
  -moz-transition-delay: 1300ms;
  -ms-transition-delay: 1300ms;
  transition-delay: 1300ms;
}
.came .drop--6 {
  -webkit-transform: rotate(-40deg) translate3d(-50px, -80px, 0);
  -moz-transform: rotate(-40deg) translate3d(-50px, -80px, 0);
  -ms-transform: rotate(-40deg) translate3d(-50px, -80px, 0);
  transform: rotate(-40deg) translate3d(-50px, -80px, 0);
  -webkit-transition-delay: 1500ms;
  -moz-transition-delay: 1500ms;
  -ms-transition-delay: 1500ms;
  transition-delay: 1500ms;
}

.drop--main {
  width: 24px;
  height: 800px;
  margin-left: -12px;
  border-radius: 12px;
  bottom: -800px;
  -webkit-transition: bottom 2000ms 1600ms ease;
  -moz-transition: bottom 2000ms 1600ms ease;
  -ms-transition: bottom 2000ms 1600ms ease;
  transition: bottom 2000ms 1600ms ease;
}
.came .drop--main {
  bottom: 550px;
}
